<div id="main-nav">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="menu-icon" data-active="false">
      
    </div>
    <div class="navbar-brand">
      <a href="/">
        <%= image_tag 'logo-white.png' %>
      </a>
    </div>
  </nav>
</div>



<div class="table-responsive">
  <div class='flex-header-row'>

    <h1 class='main-content__page-title' id='reminders-top-thing'>Reminders</h1>

    <ul class='vz-tab-list'>
      <li class="vz-tab-li " id="tab_7g9tyi" role="presentation">
        <a href='/reminders/current_users'>
          <button class="<%= @filtered ? 'vz-tab-btn' : 'vz-selected-tab-btn' %>">
              <span>
                All
              </span>
            </span>
          </button>
        </a>
      </li>
      <li class="vz-tab-li" id="tab_hpbq35" role="presentation">
        <a href='/reminders/current_users?filter=1'>
          <button class="<%= @filtered ? 'vz-selected-tab-btn' : 'vz-tab-btn' %>">
            <span>
              Not Sent
            </span>
          </button>
        </a>
      </li>
    </ul>

  </div>


  <table class='table' style="width:100%">
    <thead>
      <tr>
        <th>email</th>
        <th>first name</th>
        <th>Days Left</th>
        <th>Transfer Date</th>
        <th>Sent Reminder?</th>
        <th>Reminder sent on</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transfers.each do |transfer| %>
        <% user = transfer.user %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.first_name %></td>
          <td><%= transfer.days_left %>
          <td><%= transfer.created_at.strftime("%Y/%m/%d") %>
          <td><%= user.reminders.any? %>
          <% if user.reminders.last %>
            <td>
              <%= user.reminders.last.created_at.strftime("%Y/%m/%d") %>
            </td>
          <% else %>
            <td>
            </td>
          <% end %>
          <td>
            <%= form_with(model: Reminder.new, local: true, data: { confirm: "Are you sure you want to send a reminder to #{user.first_name}?" }) do |form| %>
              <%= form.hidden_field :user_id, value: user.id %>
              <%= form.submit value: 'submit'  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class='pagination-cont'>
<%= will_paginate @transfers %>
</div>

<script>
 $('form').on('click', function handleSubmit (event) {
   event.preventDefault()
   if (window.confirm(event.currentTarget.dataset.confirm)) {
     $(this).submit();
   }
 })
</script>
