<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <style>
    /* Text Normal  */
    @font-face {
      font-family: 'BrandFont-Text';
      src: url("/assets/NHaasGroteskTXStd-55Rg.ttf") format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    /* Text Normal Italics */
    @font-face {
      font-family: 'BrandFont-Text';
      src: url("/assets/NHaasGroteskTXStd-56It.ttf") format('truetype');
      font-weight: normal;
      font-style: italic;
    }

    /* Text Medium */
    @font-face {
      font-family: 'BrandFont-Text';
      src: url("/assets/NHaasGroteskTXStd-65Md.ttf") format('truetype');
      font-weight: 500;
      font-style: normal;
    }

    /* Text Medium Italic */
    @font-face {
      font-family: 'BrandFont-Text';
      src: url("/assets/NHaasGroteskTXStd-66MdIt.ttf") format('truetype');
      font-weight: 500;
      font-style: italic;
    }

    /* Text Bold */
    @font-face {
      font-family: 'BrandFont-Text';
      src: url("/assets/NHaasGroteskTXStd-75Bd.ttf") format('truetype');
      font-weight: 700;
      font-style: normal;
    }

    /* Text Bold Italic */
    @font-face {
      font-family: 'BrandFont-Text';
      src: url("/assets/NHaasGroteskTXStd-76BdIt.ttf") format('truetype');
      font-weight: 700;
      font-style: italic;
    }

    /* Display Normal */
    @font-face {
      font-family: 'BrandFont-Display';
      src: url("/assets/NHaasGroteskDSStd-55Rg.ttf") format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    /* Display Normal Italic */
    @font-face {
      font-family: 'BrandFont-Display';
      src: url("/assets/NHaasGroteskDSStd-56It.ttf") format('truetype');
      font-weight: normal;
      font-style: italic;
    }

    /* Display Medium */
    @font-face {
      font-family: 'BrandFont-Display';
      src: url("/assets/NHaasGroteskDSStd-65Md.ttf") format('truetype');
      font-weight: 500;
      font-style: normal;
    }

    /* Display Medium Italic */
    @font-face {
      font-family: 'BrandFont-Display';
      src: url("/assets/NHaasGroteskDSStd-66MdIt.ttf") format('truetype');
      font-weight: 500;
      font-style: italic;
    }

    /* Display Bold */
    @font-face {
      font-family: 'BrandFont-Display';
      src: url("/assets/NHaasGroteskDSStd-75Bd.ttf") format('truetype');
      font-weight: 700;
      font-style: normal;
    }

    /* Display Bold Italic */
    @font-face {
      font-family: 'BrandFont-Display';
      src: url("/assets/NHaasGroteskDSStd-76BdIt.ttf") format('truetype');
      font-weight: 700;
      font-style: italic;
    }

    * {
      font-family: 'BrandFont-Text', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2rem;
      font-family: BrandFont-Text;
      margin: 0px;
      text-decoration: none;
    }

    a {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2rem;
      font-family: BrandFont-Text;
      margin: 0px;
      text-decoration: underline;
    }

    li {
      position: relative;
      padding-bottom: 0.375rem;
      font-size: 1rem;
      line-height: 1.2rem;
      font-family: BrandFont-Text;
      font-weight: normal;
    }

    .inline-link {
      width: auto;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      border-top-style: initial;
      border-right-style: initial;
      border-left-style: initial;
      cursor: pointer;
      background-image: none;
      background-color: transparent;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: rgb(0,0,0);
      touch-action: manipulation;
      padding: 0px 0px 0.0625rem;
      border-width: 0px 0px 0.0625rem;
      border-image: initial;
      text-decoration: none;
      border-bottom: 0.0625rem solid rgb(0,0,0);
      border-color: rgb(0,0,0);
      transition: opacity 0.15s ease-in 0s;
    }

    .get-started {
      width: auto;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      cursor: pointer;
      background-image: none;
      font-size: 1.5rem;
      font-weight: 750;
      line-height: 1.425rem;
      font-family: BrandFont-Display;
      font-style: normal;
      color: rgb(0, 0, 0);
      touch-action: manipulation;
      background-color: transparent;
      align-content: center;
      padding: 0px;
      /* margin: 0px 0px 0px 1rem; */
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
      text-decoration: none;
      transition: opacity 0.15s ease-in 0s;
    }

    .footer-links a {
      font-size: 1rem;
      font-weight: 750;
      line-height: 0.9375rem;
      /* font-family: BrandFont-Display; */
      color: rgb(0, 0, 0);
      margin: 0px;
      text-decoration: none;
    }

    .flex {
      display: flex;
    }

    .footer-text {
      font-size: 0.625rem;
      font-weight: 400;
      line-height: 0.75rem;
      /* font-family: BrandFont-Text; */
      color: rgb(116, 118, 118);
      margin: 0px;
      text-decoration: none;
    }
  </style>
  <body style="max-width: 600px">
    <div style="width: inherit; display: flex; width: inherit;margin-bottom: 1.5rem;">
      <%= image_tag 'LOGO_verizon.png', style: 'width: 188px; height: 42px' %>
    </div>
    <%= image_tag 'BG_hero.png', style:"margin-bottom: 1.5rem; display: flex", width:'600px' %>
    <h1 style="font-size: 2rem;
    font-weight: 750;
    line-height: 1.9rem;
    color: rgb(0, 0, 0);
    margin: 0px;
    text-decoration: none;">Hi, <%= @user.name.first %>.</h1>
    <div style="height: 0.25rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;"></div>
    <h2>You have</h2>
    <p><span style="font-size: 50px; font-weight: bold;"><%= @days_left %></span> <strong>days left</strong></p>
    <p>It's time to pass your Purpose Coin to someone who demonstrates an outstanding commitment to our purpose.</p>
    <p>Don't forget to physically give them the coin when you let them know they've been chose.</p>
    <p>We know you will miss it, but it's time to move on. But that doesn't mean your mission is over. Continue to be an evangelist, identify stories of purpose-driven behavior and share experiences using #ForwardTogether.</p>
    <p><%= link_to 'Pass the Coin Today >', "https://www.vzpurposecoin.com/pass_coin/#{@coin.number}", target: "_blank" %></p>

    <div style="height: 0.0625rem;
    width: 100%;
    background-color: rgb(216, 218, 218);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;"></div>

    <div style="width: 50%; align-items: center; justify-content: flex-start; display: flex; flex: 0 1 auto !important; margin-top: 1.5rem; margin-bottom: 1.5rem;">
      <%= link_to 'https://www.facebook.com/verizon/', style: 'margin-right: 15px;' do %>
        <%= image_tag 'Facebook.png', style: 'max-width: 30px;' %>
      <% end %>
      <%= link_to 'https://www.instagram.com/verizon/?hl=en', style: 'margin-right: 15px;' do %>
        <%= image_tag 'insta.png', style: 'max-width: 30px;' %>
      <% end %>
      <%= link_to 'https://www.youtube.com/channel/UCDF1rHyRH8LcxbHX5_mrZ0w' do %>
        <%= image_tag 'YouTube.png', style: 'max-width: 30px;' %>
      <% end %>
    </div>

    <div style="width: 100%; display: flex; flex: 0 1 auto !important; justify-content: space-between; margin-top: 1.5rem; margin-bottom: 1.5rem;" class="footer-links">
      <%= link_to 'Phones', 'https://www.verizonwireless.com/featured/shop-phones-devices/', style: 'margin-right:10px;' %>
      <%= link_to 'Tablets', 'https://www.verizonwireless.com/tablets/', style: 'margin-right:10px;' %>
      <%= link_to 'Accessories', 'https://www.verizonwireless.com/tech-store/', style: 'margin-right:10px;' %>
      <%= link_to 'Plans', 'https://www.verizonwireless.com/plans/', style: 'margin-right:10px;' %>
      <%= link_to 'Verizon Up', 'https://www.verizonwireless.com/rewards/verizon-up/' %>
    </div>

    <div class="flex">
      <p class='footer-text'>* Legal: © 2019 Verizon Wireless</br>
        This email was sent to <%= @user.email %>. We respect your privacy. Please review our Privacy Policy. You may unsubscribe from Verizon Wireless promotional emails at any time, or easily adjust your subscription preferences from your profile information.</br>
        Verizon Wireless, One Verizon Way, Mail Code: 180WVB, Basking Ridge, NJ 07920</p>
    </div>
  </body>
</html>
