<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and JavaScripts
%>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <meta name=”robots” content=”noindex, follow”>
  <title>
    Verizon Purpose Coin
  </title>
  <%= render "/admin/application/stylesheet" %>
  <%= stylesheet_link_tag "admin-panel.css" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <%= render "/admin/application/icons" %>

  <div id="main-nav">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div id="menu-icon" data-active="false">
        <div class="open">
          <%= image_tag 'HamburgerIcon.png' %>
        </div>
        <div class="close hidden">
          <%= image_tag 'menuiconclose.png' %>
        </div>
        <div id="main-menu" class="hidden">
          <%= render "/admin/application/navigation" -%>
        </div>
      </div>
      <div class="navbar-brand">
        <a href="/">
          <%= image_tag 'logo-white.png' %>
        </a>
      </div>
    </nav>
  </div>

  <div class="app-container">
    <main class="main-content" role="main">
      <%= render "/admin/application/flashes" -%>
      <%= yield %>
    </main>
  </div>

  <%= render "javascript" %>
  <script>
    $(document).ready(function(){
      $('#menu-icon').on('click', function() {
        var active = $(this).data('active');
        if(active === 'true'){
          $('#main-menu').addClass('hidden');
          $('#menu-icon .close').addClass('hidden');
          $('#menu-icon .open').removeClass('hidden');
          $(this).data('active', 'false');
        } else {
          $('#main-menu').removeClass('hidden')
          $('#menu-icon .close').removeClass('hidden');
          $('#menu-icon .open').addClass('hidden');
          $(this).data('active', 'true');
        }
      });
    })
  </script>
</body>
</html>
