<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<nav class="navigation" role="navigation">
<%= link_to("Analytics", stats_path(), class: 'navigation__link navigation__link--inactive') %>
  <% Administrate::Namespace.new('admin').resources.each do |resource| %>
    <%= link_to(
      ['contacts', 'reports'].include?(resource.name.to_s) ? {contacts: 'Support Requests', reports: 'Reports' }[resource.name.to_sym] : display_resource_name(resource),
      resource.name.to_s == 'reports' ? '/admin/reports' : [namespace, resource_index_route_key(resource)],
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) %>
  <% end %>


<%= link_to("Activity Feed", activityfeed_path(@activity), class: 'navigation__link navigation__link--inactive') %>
<%= link_to("Send Reminder", '/reminders/current_users?filter=1', class: 'navigation__link navigation__link--inactive') %>

<% if super_user_signed_in? %>
  <%= link_to('Logout', destroy_super_user_session_path, method: :delete) %>
<% else %>
    <%= link_to('Login', new_super_user_session_path) %>
<% end %>

</nav>
