<%#
# Stylesheet Partial

This partial imports the necessary stylesheets on each page.
By default, it includes the application CSS,
but each page can define additional CSS sources
by providing a `content_for(:stylesheet)` block.
%>

<% Administrate::Engine.stylesheets.each do |css_path| %>
  <%= stylesheet_link_tag css_path %>
<% end %>

<%= yield :stylesheet %>

<style>
.pt-2 {
  padding-top: 2rem;
}

.flex-row-col {
  display: flex;
  flex-direction: column;
}

.image-row {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.image-row > * {
  margin: 1rem;
  flex: 1 0 0;
}

.edit-controls {
  background-color: aliceblue;
  width: 130px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.edit-controls > * {
  padding: 1rem;
}

</style>
