<p id="notice"><%= notice %></p>

<p>
  <strong>Reason:</strong>
  <%= @contact.reason %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @contact.explanation %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
