<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <style>
    /* Text Normal  */
    @font-face {
      font-family: 'BrandFont-Text';
      src: url("/assets/NHaasGroteskTXStd-55Rg.ttf") format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    /* Text Normal Italics */
    @font-face {
      font-family: 'BrandFont-Text';
      src: url("/assets/NHaasGroteskTXStd-56It.ttf") format('truetype');
      font-weight: normal;
      font-style: italic;
    }

    /* Text Medium */
    @font-face {
      font-family: 'BrandFont-Text';
      src: url("/assets/NHaasGroteskTXStd-65Md.ttf") format('truetype');
      font-weight: 500;
      font-style: normal;
    }

    /* Text Medium Italic */
    @font-face {
      font-family: 'BrandFont-Text';
      src: url("/assets/NHaasGroteskTXStd-66MdIt.ttf") format('truetype');
      font-weight: 500;
      font-style: italic;
    }

    /* Text Bold */
    @font-face {
      font-family: 'BrandFont-Text';
      src: url("/assets/NHaasGroteskTXStd-75Bd.ttf") format('truetype');
      font-weight: 700;
      font-style: normal;
    }

    /* Text Bold Italic */
    @font-face {
      font-family: 'BrandFont-Text';
      src: url("/assets/NHaasGroteskTXStd-76BdIt.ttf") format('truetype');
      font-weight: 700;
      font-style: italic;
    }

    /* Display Normal */
    @font-face {
      font-family: 'BrandFont-Display';
      src: url("/assets/NHaasGroteskDSStd-55Rg.ttf") format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    /* Display Normal Italic */
    @font-face {
      font-family: 'BrandFont-Display';
      src: url("/assets/NHaasGroteskDSStd-56It.ttf") format('truetype');
      font-weight: normal;
      font-style: italic;
    }

    /* Display Medium */
    @font-face {
      font-family: 'BrandFont-Display';
      src: url("/assets/NHaasGroteskDSStd-65Md.ttf") format('truetype');
      font-weight: 500;
      font-style: normal;
    }

    /* Display Medium Italic */
    @font-face {
      font-family: 'BrandFont-Display';
      src: url("/assets/NHaasGroteskDSStd-66MdIt.ttf") format('truetype');
      font-weight: 500;
      font-style: italic;
    }

    /* Display Bold */
    @font-face {
      font-family: 'BrandFont-Display';
      src: url("/assets/NHaasGroteskDSStd-75Bd.ttf") format('truetype');
      font-weight: 700;
      font-style: normal;
    }

    /* Display Bold Italic */
    @font-face {
      font-family: 'BrandFont-Display';
      src: url("/assets/NHaasGroteskDSStd-76BdIt.ttf") format('truetype');
      font-weight: 700;
      font-style: italic;
    }

    * {
      font-family: 'BrandFont-Text', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2rem;
      font-family: BrandFont-Text;
      margin: 0px;
      text-decoration: none;
    }

    a {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2rem;
      font-family: BrandFont-Text;
      margin: 0px;
      text-decoration: underline;
    }

    li {
      position: relative;
      padding-bottom: 0.375rem;
      font-size: 1rem;
      line-height: 1.2rem;
      font-family: BrandFont-Text;
      font-weight: normal;
    }

    .inline-link {
      width: auto;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      border-top-style: initial;
      border-right-style: initial;
      border-left-style: initial;
      cursor: pointer;
      background-image: none;
      background-color: transparent;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: rgb(0,0,0);
      touch-action: manipulation;
      padding: 0px 0px 0.0625rem;
      border-width: 0px 0px 0.0625rem;
      border-image: initial;
      text-decoration: none;
      border-bottom: 0.0625rem solid rgb(0,0,0);
      border-color: rgb(0,0,0);
      transition: opacity 0.15s ease-in 0s;
    }

    .get-started {
      width: auto;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      cursor: pointer;
      background-image: none;
      font-size: 1.5rem;
      font-weight: 750;
      line-height: 1.425rem;
      font-family: BrandFont-Display;
      font-style: normal;
      color: rgb(0, 0, 0);
      touch-action: manipulation;
      background-color: transparent;
      align-content: center;
      padding: 0px;
      /* margin: 0px 0px 0px 1rem; */
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
      text-decoration: none;
      transition: opacity 0.15s ease-in 0s;
    }

    .footer-links a {
      font-size: 1rem;
      font-weight: 750;
      line-height: 0.9375rem;
      /* font-family: BrandFont-Display; */
      color: rgb(0, 0, 0);
      margin: 0px;
      text-decoration: none;
    }

    .flex {
      display: flex;
    }

    .footer-text {
      font-size: 0.625rem;
      font-weight: 400;
      line-height: 0.75rem;
      /* font-family: BrandFont-Text; */
      color: rgb(116, 118, 118);
      margin: 0px;
      text-decoration: none;
    }
  </style>
  <body style="max-width: 600px">

    <h1 style="font-size: 2rem;
    font-weight: 750;
    line-height: 1.9rem;
    color: rgb(0, 0, 0);
    margin: 0px;
    text-decoration: none;">Daily update</h1>
    <div style="height: 0.25rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;">
    </div>
    <p>
      <b>Total Transfers:</b> <%= @total_transfers %>
      <br>
      <b>Transfers past 24 hours:</b> <%= @transfer_count %>
      <br>
      <b> unresolved support requests:</b> <%= @contacts.count %>
      <br>
    </p>
    <br>
    <% @contacts.each do |contact| %>
      <p>
        <%= contact.email %> - <%= contact.created_at.strftime('%D') %>
        <br>
        <%= contact.explanation %>
      </p>
      <br>
    <% end %>

  </body>
</html>
