<section id="log-in-partial" class='section fixed-width m0auto'>
  <h2 class='transfer_title'>Log in</h2>
  <hr>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field is-inline">
        <%= f.check_box :remember_me %> <%= f.label :remember_me, class: "is-inline" %>
      </div>
    <% end %>

    <div class="actions mt-4">
      <span>
        <%= f.submit "Log in", class: 'btn-blk is-primary' %>
      </span>
    </div>
  <% end %>

  <%#= render "devise/shared/links" %>
</section>
