<%= form_with(model: transfer, local: true) do |form| %>
  <% if transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
        <% transfer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :giver_id %>
    <%= form.text_field :giver_id %>
  </div>  

  <div class="field">
    <%= form.label :coin_id %>
    <%= form.text_field :coin_id %>
  </div>
    
  <div class="field">
    <%= form.label :files %>
    <%= form.file_field :files %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
