<div class='section'>
  <table class="table">
  <thead>
    <th>user id</th>
    <th>first name</th>
    <th>last name</th>
    <th>email</th>
    <th>received</th>
    <th>days left</th>
  </thead>
  <tbody>
  <% @active_owners.each do |active_owner| %>
    <tr>
      <td><%= active_owner["id"] %></td>
      <td><%= active_owner["first_name"] %></td>
      <td><%= active_owner["last_name"] %></td>
      <td><%= active_owner["email"] %></td>
      <td><%= active_owner["received"] %></td>
      <td><%= active_owner["days_left"] %></td>
    </tr>
  <% end %>
  </tbody>
  

</div>