<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCGt9NBLULEoJ7uYDYnNAUiahcyNCJWmLk' %>
<%= javascript_include_tag 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js' %>

<div id="activity-feed-nav">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-back">
      <a onclick="window.history.back();">
        <%= image_tag 'back.png' %>
      </a>
    </div>
    <div class="navbar-brand">
      <a href="/">
        <%= image_tag 'logo-white.png' %>
      </a>
    </div>
  </nav>
</div>

<div id="activity-feed" class="columns is-multiline">
    <div id="tabs" class="tabs column is-one-third">
      <div class="menu">
        <div class="menu-list">
          <span class="has-text-centered active-tab" data-menu="activity-sidebar">Activity Feed</span>
          <span class="has-text-centered" data-menu="coin-map">Coin Map</span>
        </div>
      </div>
      <ul class="main">
        <% @activity.limit(50).each_with_index do |transfer, index| %>
          <li class="<% if index === 0 %>is-active<% end %>" data-tab="<%= transfer.user_id %>">
            <a>
            <div class="transfer_date">
              <%= transfer.created_at.in_time_zone('EST').strftime("%A, %B %d at %I:%M%p") %>
            </div>
            <div class="transfer_title">
              <%= transfer.user_full_name %> recieved Purpose Coin <%= transfer.coin_number ? sprintf('%05d', transfer.coin_number) : '' %> <% if !transfer.giver_name.nil? %>from <%= transfer.giver_name %><% end %>
            </div>
            <% if !transfer.notes.nil? %>
              <div class="transfer_notes">
                <%= transfer.notes %>
              </div>
            <% end %>
            </a>

            <% if transfer.files.first %>
             <div class="user_upload">
              <% attachment = transfer.files.first %>
              <% if attachment.image? %>
                <%= image_tag transfer.files.first %>
              <% elsif attachment.video? and attachment.previewable? %>
                <video controls="controls">
                  <source src="<%= rails_blob_path(attachment) %>" controls='controls' type="video/mp4" />
                </video>
              <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="tab_content" class="activity-sidebar active-sidebar column">
      <% @activity.limit(50).each_with_index do |transfer, index| %>
        <div class="transfer_info <% if index === 0 %>is-active<% end %>" data-content="<%= transfer.user_id %>">
          <div class="transfer_title">
            <%= transfer.user_full_name %> recieved a Purpose Coin <% if !transfer.giver_name.nil? %>from <%= transfer.giver_name %><% end %>
          </div>
          <hr>

          <div class='columns'>
            <div class="transfer_date column no-padding">
              <%= transfer.created_at.in_time_zone('EST').strftime("%A, %B %d at %I:%M%p") %>
            </div>
            <div class='column no-padding'>
              <%= link_to("View coin #{sprintf('%05d', transfer.coin_number)}", "/admin/coins/#{transfer.coin_id}", {class: 'vz-button activity-feed-coin-link'}) %>
            </div>
          </div>


          
          <% if !transfer.notes.nil? %>
            <div class="transfer_notes">
              <%= transfer.notes %>
            </div>
          <% end %>
          <div class="user_upload">
            <% if transfer.files.first %>
              <% attachment = transfer.files.first %>
              <% if attachment.image? %>
                <%= image_tag transfer.files.first %>
              <% elsif attachment.video? and attachment.previewable? %>
                <video controls="controls">
                  <source src="<%= rails_blob_path(attachment) %>" controls='controls' type="video/mp4" />
                </video>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="coin_map" class="coin-map hidden column">
      <div id='loader'>
        <div>Populating map...</div>
        <hr>
      </div>
      <button id="reset" class="hidden">Reset Map</button>
      <div id="map"></div>
    </div>
</div>

<script>
  $(document).ready(function() {
    $('#activity-feed #tabs li').on('click', function() {
      $("video").each(function() {
        $(this).get(0).pause();
      });
      var tab = $(this).data('tab');
      $('#activity-feed #tabs li').removeClass('is-active');
      $(this).addClass('is-active');

      $('#tab_content div').removeClass('is-active');
      $('#tab_content div[data-content="' + tab + '"]').addClass('is-active');

      // Open the corrosponding info window
      if(markerIndex.indexOf(tab) != -1){
        google.maps.event.trigger(markers[markerIndex.indexOf(tab)], 'click');
      } else {
        $('#reset').click();
      }
    });

    $('.menu-list span').on('click', function() {
      var active = $(this).data('menu');
      $('.active-tab').removeClass('active-tab');
      $(this).addClass('active-tab')

      $('.active-sidebar').removeClass('active-sidebar').addClass('hidden');
      $('.' + active).addClass('active-sidebar').removeClass('hidden');
    });

    function initMap() {

      if (google.maps.DirectionsStatus.OK) {
        $('#loader').hide();
      }

      var pos = {lat: 40.75147020000001, lng: -73.9869176};

      if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(function(position) {
           pos = {
             lat: position.coords.latitude,
             lng: position.coords.longitude
           };
         }, function() {
           handleLocationError(true, map.getCenter());
         });
      }

      var map = new google.maps.Map(document.getElementById('map'), {
        center: pos,
        zoom: 9,
        styles: [{
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [{
              "color": "#e9e9e9"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry",
          "stylers": [{
              "color": "#f5f5f5"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [{
              "color": "#ffffff"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [{
              "color": "#ffffff"
            },
            {
              "lightness": 29
            },
            {
              "weight": 0.2
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [{
              "color": "#ffffff"
            },
            {
              "lightness": 18
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [{
              "color": "#ffffff"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [{
              "color": "#f5f5f5"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [{
              "color": "#dedede"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "elementType": "labels.text.stroke",
          "stylers": [{
              "visibility": "on"
            },
            {
              "color": "#ffffff"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "elementType": "labels.text.fill",
          "stylers": [{
              "saturation": 36
            },
            {
              "color": "#333333"
            },
            {
              "lightness": 40
            }
          ]
        },
        {
          "elementType": "labels.icon",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [{
              "color": "#f2f2f2"
            },
            {
              "lightness": 19
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [{
              "color": "#fefefe"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [{
              "color": "#fefefe"
            },
            {
              "lightness": 17
            },
            {
              "weight": 1.2
            }
          ]
        }
      ]
      });

      setMarkers(map);

    }

    var points = [];

    <% @markers.each_with_index do |marker, index| %>
      var url =  '<%= admin_user_path(id: marker[3]) %>';
      points.push([ <%= marker[0] %>, <%= marker[1] %>, "<%= marker[2] %>", <%= marker[3] %>, url]);
    <% end %>

    var markers = [];
    var markerIndex = [];
    function setMarkers(map) {
      var infowindow = new google.maps.InfoWindow({
        disableAutoPan: false
      });
      for (var i = 0; i < points.length; i++) {
        var point = points[i];
        var marker = new google.maps.Marker({
          position: {
            lat: point[0],
            lng: point[1]
          },
          map: map,
          icon: '<%= image_path 'pininactive.png' %>'
        });

        markers.push(marker);
        markerIndex.push(point[3]);
        var contentString = '<div class="marker-infowindow"><a href="'+ point[4] + '"><h2>' + point[2] +' recieved a Purpose Coin</h1></a></div>';

        google.maps.event.addListener(marker, 'click', (function(marker, i, contentString) {
          return function() {
            // Reset all marker icons
            for (var j = 0; j < markers.length; j++) {
              markers[j].setIcon('<%= image_path 'pininactive.png' %>');
            }
            marker.setIcon('<%= image_path 'pinactive.png' %>')
            infowindow.setContent(contentString);
            infowindow.open(map, marker);
            map.setZoom(20);
            map.setCenter(this.getPosition());
          }
        })(marker, i, contentString));

        google.maps.event.addListener(map, 'click', function(event) {
          if (infowindow) {
            infowindow.close();
          }
          // Reset all marker icons
          for (var j = 0; j < markers.length; j++) {
            markers[j].setIcon('<%= image_path 'pininactive.png' %>');
          }
        });
      }

      // marker clusterer
      var markerCluster = new MarkerClusterer(map, markers, {
        maxZoom: 19,
        styles: [{
          height: 60,
          url: "<%= image_path '2.png' %>",
          width: 54,
          textSize: 18
          }],
        imagePath: 'assets/'
      });

      $('#reset').click(function(){
        map.setZoom(9);
        if (infowindow) {
          infowindow.close();
          // Reset all marker icons
          for (var j = 0; j < markers.length; j++) {
            markers[j].setIcon('<%= image_path 'pininactive.png' %>');
          }
        }
      })

    }

    initMap();

  });
</script>
