<p id="notice"><%= notice %></p>

<p>
  <strong>Notes:</strong>
  <%= @transfer.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @transfer.user_id %>
</p>

<p>
  <strong>Coin:</strong>
  <%= @transfer.coin_id %>
</p>

<%= link_to 'edit images', edit_images_path(@transfer) %>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
