<div id="activity-feed-nav">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="menu-icon" data-active="false">
      <div class="open">
        <%= image_tag 'HamburgerIcon.png' %>
      </div>
      <div class="close hidden">
        <%= image_tag 'menuiconclose.png' %>
      </div>
      <div id="main-menu" class="hidden">
        <nav class="navigation" role="navigation">
        <%= link_to("Analytics", stats_path(), class: 'navigation__link navigation__link--active') %>

        <%= link_to("Coins", admin_coins_path(), class: 'navigation__link navigation__link--inactive') %>

        <%= link_to("Transfers", admin_transfers_path(), class: 'navigation__link navigation__link--inactive') %>

        <%= link_to("Users", admin_users_path(), class: 'navigation__link navigation__link--inactive') %>

        <%= link_to("Reports", '/admin/reports', class: 'navigation__link navigation__link--inactive') %>

        <%= link_to("Support Requests", admin_contacts_path(), class: 'navigation__link navigation__link--inactive') %>

        <%= link_to("Activity Feed", activityfeed_path(@activity), class: 'navigation__link navigation__link--inactive') %>
        </nav>
      </div>
    </div>
    <div class="navbar-brand">
      <a href="/">
        <%= image_tag 'logo-white.png' %>
      </a>
    </div>
  </nav>
</div>

<div id="stats" class="m0auto fixed-width">
  <div id="all-stats">
    <div class="stat-title">
      Purpose Coin Analytics
    </div>
    <hr>
    <div class="coin-activity p-3">
      <div class="stat-sub-title mb-4">
        Purpose Coin Activity
      </div>
      <div class="coin-activity-data columns is-mobile">
        <div class="column">
          <span class="stat-number"><%= @totalToday.length %></span>
          <br>
          <span>today</span>
        </div>
        <div class="column">
          <span class="stat-number"><%= @totalYesterday.length %></span>
          <br>
          <span>yesterday</span>
        </div>
        <div class="column">
          <span class="stat-number"><%= @totalTransfers.length %></span>
          <br>
          <span>total</span>
        </div>
      </div>
    </div>
    <div class="coin-activity p-3 white blackbg">
      <div class="stat-sub-title mb-4">
        Purpose Coin Transfers
      </div>
      <div class="coin-activity-data columns is-mobile">
        <div class="column">
          <span class="stat-number"><%= @passedOnce %></span>
          <br>
          <span>1 transfer</span>
        </div>
        <div class="column">
          <span class="stat-number"><%= @passedTwice %></span>
          <br>
          <span>2 transfers</span>
        </div>
        <div class="column">
          <span class="stat-number"><%= @passedThreeOrMore %></span>
          <br>
          <span>3+ transfers</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#menu-icon').on('click', function() {
      var active = $(this).data('active');
      if(active === 'true'){
        $('#main-menu').addClass('hidden');
        $('#menu-icon .close').addClass('hidden');
        $('#menu-icon .open').removeClass('hidden');
        $(this).data('active', 'false');
      } else {
        $('#main-menu').removeClass('hidden')
        $('#menu-icon .close').removeClass('hidden');
        $('#menu-icon .open').addClass('hidden');
        $(this).data('active', 'true');
      }
    });
  })
</script>
