html {
  background: #fff;
}

a:focus {
  outline: 0;
}

.hidden {
  display: none !important;
}

#main-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

#main-nav .navbar {
  position: relative;
  display: flex;
  height: 75px;
  background: #000;
  justify-content: center !important;
  width: 100%;
}

#main-nav .navbar-brand {
  display: initial;
  justify-content: center;
  margin: 0px !important;
}

#main-nav .navbar-brand img {
  max-height: 75px;
  padding: 10px;
}

#menu-icon {
  position: absolute;
  left: 0;
  background: #000;
}

#menu-icon img {
  max-height: 50px;
  padding: 10px;
  margin: 8px;
  cursor: pointer;
}

.app-container {
  padding: 75px 0px 0px 0px;
  max-width: 1274px !important;
}

.navigation {
  padding-left: 1.5em;
}

.navigation a {
  color: #fff;
}

.button, input[type='submit'] {
  color: #000;
  background-color: transparent;
  border: .0625rem solid #000;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 750;
  line-height: 0.90625rem;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition-duration: 0.15s;
  transition-property: color;
  vertical-align: middle;
  min-width: 115px;
  height: 2.625rem;
  white-space: nowrap;
  padding: 10px;
  border-radius: 6.25rem;
  border-width: 0.0625rem;
  text-decoration: none;
  overflow: hidden;
  outline: 0 !important;
  outline-color: transparent;
}

.button:hover, input[type='submit']:hover {
  background: transparent;
  color: #000;
}

.main-content {
  padding-bottom: 2vh;
  box-shadow: none;
}

.main-content__header {
  border-bottom: 0.25rem solid #000;
}

.main-content__page-title {
  font-size: 2rem;
  font-weight: 750;
  line-height: 1.9rem;
}
