/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'BrandFont-Display';
}

a:hover {
  background-color: transparent;
}

.columns {
  margin: 0px !important;
}

.fixed-width {
  max-width: 37.25rem;
}

.mw-200 {
  max-width: 200px;
}

/* .notification {
 margin-top: 25px;
} */

.m0auto {
  margin: 0 auto !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.white {
  color: #fff !important;
}

.blackbg {
  background: #000;
}

.hidden {
  display: none !important;
}

.btn-blk {
  color: #000;
  background-color: transparent;
  border: .0625rem solid #000;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-family: BrandFont-Display;
  font-size: 0.875rem;
  font-weight: 750;
  line-height: 0.90625rem;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition-duration: 0.15s;
  transition-property: color;
  vertical-align: middle;
  min-width: 100px;
  height: 2.625rem;
  white-space: nowrap;
  padding: 10px;
  border-radius: 6.25rem;
  border-width: 0.0625rem;
  text-decoration: none;
  overflow: hidden;
  outline: 0;
  outline-color: transparent;
}

/* Log In Page */
#log-in-partial {
  /* padding-top: 100px; */
}

#log-in-partial .transfer_title, #loader {
  font-size: 2rem;
  font-weight: 750;
  line-height: 1.9rem;
  font-family: BrandFont-Display;
  color: #000000;
  margin: 0;
  -webkit-text-decoration: none;
  text-decoration: none;
}

#log-in-partial hr, #loader hr,
#tab_content hr, #stats hr  {
  height: 0.25rem;
  width: 100%;
  background-color: #000000;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#log-in-partial .field label.is-inline {
  padding-left: 10px;
  cursor: pointer;
}

#login-feed-nav .navbar {
  height: 75px;
  background: #000;
  justify-content: center !important;
  margin-bottom: 1em;
}

/* Activity Feed */
#activity-feed-nav .navbar {
  position: fixed;
  height: 75px;
  background: #000;
  left: 0;
  right: 0;
  justify-content: center !important;
}

#activity-feed-nav .navbar-brand,
#login-feed-nav .navbar-brand {
  display: initial;
  justify-content: center;
  margin: 0px !important;
}

#activity-feed-nav .navbar-brand img,
#login-feed-nav .navbar-brand img {
  max-height: 75px;
  padding: 10px;
}

#activity-feed-nav .navbar-back,
#login-feed-nav .navbar-back {
  position: absolute;
  left: 25px;
  top: 10px;
  color: #fff;
}

#activity-feed-nav .navbar-back img,
#login-feed-nav .navbar-back img {
  height: 50px;
}

#main-menu a {
  color: #fff;
}

#main-menu .navigation {
  display: flex;
  flex-direction: column;
  padding-left: 1.5em;
  flex: 1 0 10rem;
  padding-bottom: 1.5em;
  padding-right: calc(1.5em - 0.6em);
  padding-top: 1.5em;
}

#main-menu .navigation__link {
  background-color: transparent;
  color: #fff;
  text-decoration: underline;
  display: block;
  line-height: 1;
  margin-left: -0.6em;
  padding: 0.6em;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

#main-menu .navigation__link:not(:last-of-type) {
  margin-bottom: 0.75em;
}

#main-menu .navigation__link:hover {
  background-color: #eaebeb;
  border-radius: 4px;
  color: #293f54;
}

#main-menu .navigation__link--active {
  font-weight: 700;
}

.menu-list {
  border-bottom: 1px solid lightgrey;
  display: flex;
}

.menu-list span {
  margin-left: 13px;
  padding: 10px 0px;
}

#activity-feed .active-tab {
  color: #d52b1e;
  border-bottom: 3px solid #d52b1e;
}

#activity-feed {
  padding-top: 75px;
}

#activity-feed #tabs {
  min-width: 200px;
  margin: 0px !important;
  padding: 25px 10px 25px 0px;
  border-right: 1px solid lightgrey;
  height: calc(100vh - 75px);
  overflow-y: scroll;
  overflow-x: hidden;
}

#activity-feed #tabs ul {
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  border: 0px;
}

#activity-feed #tabs li+li {
  margin-left: 0;
  width: 100%;
}

#activity-feed #tabs li {
  margin-left: 0;
  padding: 15px 0px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid lightgrey;
  white-space: normal;
}

#activity-feed #tabs .user_upload {
  width: 300px;
  padding: 10px 0px;
  text-align: center;
}

#activity-feed #tabs a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

#activity-feed #tabs li a {
  border: 0px;
  color: #888;
}

#activity-feed #tabs li.is-active a {
  border: 0px;
  color: #000;
}

#activity-feed #tabs .transfer_date {
  color: #d3d3d3;
  font-size: 12px;
}

#activity-feed #tabs .transfer_title {
  font-size: 1.2em;
  font-weight: 750;
  font-family: BrandFont-Display;
  margin: 0px 0px 5px 0px;
  -webkit-text-decoration: none;
  text-decoration: none;
}

#activity-feed #tabs li.is-active .transfer_date {
  color: #777;
}

#tab_content {
  height: calc(100vh - 75px);
  overflow-y: scroll;
  overflow-x: hidden;
}

#tab_content .transfer_info {
  display: none;
}

#tab_content .transfer_info.is-active {
  display: block;
}

#tab_content .transfer_date {
  color: #777;
}

#tab_content .transfer_title {
  font-size: 2rem;
  font-weight: 750;
  line-height: 1.9rem;
  font-family: BrandFont-Display;
  color: #000000;
  margin: 0;
  -webkit-text-decoration: none;
  text-decoration: none;
}

#tab_content .transfer_notes {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  font-family: BrandFont-Text;
  margin: 0;
  -webkit-text-decoration: none;
  text-decoration: none;
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
}

/* Map */
#map {
  height: 100%;
}

/* Stats */
#stats {
  padding-top: 75px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #000;
}

#all-stats {
  padding: 12px;
}

#stats .stat-title {
  font-size: 2rem;
  font-weight: 750;
  line-height: 1.9rem;
  font-family: BrandFont-Display;
  color: rgb(0, 0, 0);
  margin-top: 1.5rem;
  -webkit-text-decoration: none;
  text-decoration: none;
}

#stats .stat-sub-title {
  font-size: 1.25rem;
  font-weight: 750;
  line-height: 1.1875rem;
  font-family: BrandFont-Display;
  margin: 0px;
  text-decoration: none;
}

#stats .stat-number {
  font-size: 3rem;
  font-weight: 750;
  line-height: 1.1875rem;
  font-family: BrandFont-Display;
  margin: 0px;
  text-decoration: none;
}

@media screen and (max-width: 1250px) {
  #activity-feed #tabs li {
    flex-direction: column;
  }

  #activity-feed #tabs .user_upload {
    width: auto;
    text-align: center;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  #activity-feed #tabs {
    padding: 25px 15px;
    border: 0px;
  }

  #activity-feed #tabs li a {
    color: #000;
  }

  #tab_content {
    display: none !important;
  }

  #activity-feed #tabs .transfer_date {
    color: #777;
  }

  [data-menu="coin-map"] {
    display: none;
  }
}

.pagination-cont {
  display: flex;
}

.pagination > * {
  padding: 2rem;
}



.vz-button {
  color: #000;
  background-color: transparent;
  border: .0625rem solid #000;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 750;
  line-height: 0.90625rem;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition-duration: 0.15s;
  transition-property: color;
  vertical-align: middle;
  min-width: 115px;
  height: 2.625rem;
  white-space: nowrap;
  padding: 10px;
  border-radius: 6.25rem;
  border-width: 0.0625rem;
  text-decoration: none;
  overflow: hidden;
  outline: 0 !important;
  outline-color: transparent;
}

.activity-feed-coin-link {
  float: right;
  width: 200px;
}

.no-padding {
  padding: 0rem !important;
}

.report-link {
  font-size: 1.5rem;
  display: block;
  margin-top: 0.5rem;
}

.flex-header-row {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  justify-content: space-between;
  margin-bottom: 2em;
}

.vz-tab-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/* li */
.tab-li-vz {
  position: relative;
  display: inline-block;
  margin: 0px 2.5rem 0px 0px;
}
/* li */
.vz-tab-li {
  position: relative;
  display: inline-block;
  margin: 0px 2.5rem 0px 0px;
}
/* btn selected */
.vz-selected-tab-btn {
  position: relative;
  padding: 0px;
  border-color: transparent currentcolor rgb(213, 43, 30);
  border-style: solid none;
  border-width: 0.25rem 0px;
  border-image: none 100% / 1 / 0 stretch;
  display: inline-block;
  margin: 0px;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  -moz-appearance: none;
  border-radius: 0px;
  height: 44px;
  transition: width 0.2s ease 0s, background-color 0.2s ease 0s;
}
/* btn */
.vz-tab-btn {
  position: relative;
  padding: 0px;
  border-color: transparent currentcolor;
  border-style: solid none;
  border-width: 0.25rem 0px;
  border-image: none 100% / 1 / 0 stretch;
  display: inline-block;
  margin: 0px;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  -moz-appearance: none;
  border-radius: 0px;
  height: 44px;
  transition: width 0.2s ease 0s, background-color 0.2s ease 0s;
}
/* ul */

.vz-selected-tab-btn > span {
  font-size: 0.875rem;
  font-weight: 750;
  line-height: 0.90625rem;
  font-family: BrandFont-Display;
  color: rgb(0, 0, 0);
  margin: 0px;
  text-decoration: none;
}

.vz-tab-btn > span {
  font-size: 0.875rem;
  font-weight: 750;
  line-height: 0.90625rem;
  font-family: BrandFont-Display;
  color: rgb(116, 118, 118);
  margin: 0px;
  text-decoration: none;
}