/* Text Normal  */
@font-face {
  font-family: 'BrandFont-Text';
  src: font-url("NHaasGroteskTXStd-55Rg.eot");
  src: font-url("NHaasGroteskTXStd-55Rg.eot?#iefix") format('embedded-opentype'),
       font-url("NHaasGroteskTXStd-55Rg.woff") format('woff'),
       font-url("NHaasGroteskTXStd-55Rg.ttf") format('truetype'),
       font-url("NHaasGroteskTXStd-55Rg.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Text Normal Italics */
@font-face {
  font-family: 'BrandFont-Text';
  src: font-url("NHaasGroteskTXStd-56It.eot");
  src: font-url("NHaasGroteskTXStd-56It.eot?#iefix") format('embedded-opentype'),
       font-url("NHaasGroteskTXStd-56It.woff") format('woff'),
       font-url("NHaasGroteskTXStd-56It.ttf") format('truetype'),
       font-url("NHaasGroteskTXStd-56It.svg") format('svg');
  font-weight: normal;
  font-style: italic;
}

/* Text Medium */
@font-face {
  font-family: 'BrandFont-Text';
  src: font-url("NHaasGroteskTXStd-65Md.eot");
  src: font-url("NHaasGroteskTXStd-65Md.eot?#iefix") format('embedded-opentype'),
       font-url("NHaasGroteskTXStd-65Md.woff") format('woff'),
       font-url("NHaasGroteskTXStd-65Md.ttf") format('truetype'),
       font-url("NHaasGroteskTXStd-65Md.svg") format('svg');
  font-weight: 500;
  font-style: normal;
}

/* Text Medium Italic */
@font-face {
  font-family: 'BrandFont-Text';
  src: font-url("NHaasGroteskTXStd-66MdIt.eot");
  src: font-url("NHaasGroteskTXStd-66MdIt.eot?#iefix") format('embedded-opentype'),
       font-url("NHaasGroteskTXStd-66MdIt.woff") format('woff'),
       font-url("NHaasGroteskTXStd-66MdIt.ttf") format('truetype'),
       font-url("NHaasGroteskTXStd-66MdIt.svg") format('svg');
  font-weight: 500;
  font-style: italic;
}

/* Text Bold */
@font-face {
  font-family: 'BrandFont-Text';
  src: font-url("NHaasGroteskTXStd-75Bd.eot");
  src: font-url("NHaasGroteskTXStd-75Bd.eot?#iefix") format('embedded-opentype'),
       font-url("NHaasGroteskTXStd-75Bd.woff") format('woff'),
       font-url("NHaasGroteskTXStd-75Bd.ttf") format('truetype'),
       font-url("NHaasGroteskTXStd-75Bd.svg") format('svg');
  font-weight: 700;
  font-style: normal;
}

/* Text Bold Italic */
@font-face {
  font-family: 'BrandFont-Text';
  src: font-url("NHaasGroteskTXStd-76BdIt.eot");
  src: font-url("NHaasGroteskTXStd-76BdIt.eot?#iefix") format('embedded-opentype'),
       font-url("NHaasGroteskTXStd-76BdIt.woff") format('woff'),
       font-url("NHaasGroteskTXStd-76BdIt.ttf") format('truetype'),
       font-url("NHaasGroteskTXStd-76BdIt.svg") format('svg');
  font-weight: 700;
  font-style: italic;
}



/* Display Normal */
@font-face {
  font-family: 'BrandFont-Display';
  src: font-url("NHaasGroteskDSStd-55Rg.eot");
  src: font-url("NHaasGroteskDSStd-55Rg.eot?#iefix") format('embedded-opentype'),
       font-url("NHaasGroteskDSStd-55Rg.woff") format('woff'),
       font-url("NHaasGroteskDSStd-55Rg.ttf") format('truetype'),
       font-url("NHaasGroteskDSStd-55Rg.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Display Normal Italic */
@font-face {
  font-family: 'BrandFont-Display';
  src: font-url("NHaasGroteskDSStd-56It.eot");
  src: font-url("NHaasGroteskDSStd-56It.eot?#iefix") format('embedded-opentype'),
       font-url("NHaasGroteskDSStd-56It.woff") format('woff'),
       font-url("NHaasGroteskDSStd-56It.ttf") format('truetype'),
       font-url("NHaasGroteskDSStd-56It.svg") format('svg');
  font-weight: normal;
  font-style: italic;
}

/* Display Medium */
@font-face {
  font-family: 'BrandFont-Display';
  src: font-url("NHaasGroteskDSStd-65Md.eot");
  src: font-url("NHaasGroteskDSStd-65Md.eot?#iefix") format('embedded-opentype'),
       font-url("NHaasGroteskDSStd-65Md.woff") format('woff'),
       font-url("NHaasGroteskDSStd-65Md.ttf") format('truetype'),
       font-url("NHaasGroteskDSStd-65Md.svg") format('svg');
  font-weight: 500;
  font-style: normal;
}

/* Display Medium Italic */
@font-face {
  font-family: 'BrandFont-Display';
  src: font-url("NHaasGroteskDSStd-66MdIt.eot");
  src: font-url("NHaasGroteskDSStd-66MdIt.eot?#iefix") format('embedded-opentype'),
       font-url("NHaasGroteskDSStd-66MdIt.woff") format('woff'),
       font-url("NHaasGroteskDSStd-66MdIt.ttf") format('truetype'),
       font-url("NHaasGroteskDSStd-66MdIt.svg") format('svg');
  font-weight: 500;
  font-style: italic;
}

/* Display Bold */
@font-face {
  font-family: 'BrandFont-Display';
  src: font-url("NHaasGroteskDSStd-75Bd.eot");
  src: font-url("NHaasGroteskDSStd-75Bd.eot?#iefix") format('embedded-opentype'),
       font-url("NHaasGroteskDSStd-75Bd.woff") format('woff'),
       font-url("NHaasGroteskDSStd-75Bd.ttf") format('truetype'),
       font-url("NHaasGroteskDSStd-75Bd.svg") format('svg');
  font-weight: 700;
  font-style: normal;
}

/* Display Bold Italic */
@font-face {
  font-family: 'BrandFont-Display';
  src: font-url("NHaasGroteskDSStd-76BdIt.eot");
  src: font-url("NHaasGroteskDSStd-76BdIt.eot?#iefix") format('embedded-opentype'),
       font-url("NHaasGroteskDSStd-76BdIt.woff") format('woff'),
       font-url("NHaasGroteskDSStd-76BdIt.ttf") format('truetype'),
       font-url("NHaasGroteskDSStd-76BdIt.svg") format('svg');
  font-weight: 700;
  font-style: italic;
}