<div class='app-container'>
  <main class='main-content flex-row-col'>
    <% file = @transfer.files.last %>
    <div class='image-row'>
      <div>
        <%= image_tag file %>
      </div>
      <div>
        <div class='edit-controls'>
          <form action="<%= "/admin/transfers/#{@transfer.id}/rotate?degree=-90" %>" method='POST'>
            <input type='submit' class='btn btn-prmary button' value='Rotate Left' />
          </form>
          <form action="<%= "/admin/transfers/#{@transfer.id}/rotate?degree=180" %>" method='POST'>
            <input type='submit' class='btn btn-prmary button' value='Flip' />
          </form>
          <form action="<%= "/admin/transfers/#{@transfer.id}/rotate?degree=90" %>" method='POST'>
            <input type='submit' class='btn btn-prmary button' value='Rotate Right' />
          </form>        
        </div>
      <div>
    </div>
  </main>
</div>