<style>
  #get-report-since {
    display: inline;
    margin-left: 10px;
  }

  .select-css {
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 200px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #888;
  }
  .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  .select-css option {
    font-weight:normal;
  }

  #select-days-since-container {
    margin-top: 1rem;
  }

  .report-link {
    font-size: 1.5rem;
    display: block;
    margin-top: 0.5rem;
  }
  .vz-button {
    color: #000;
    background-color: transparent;
    border: .0625rem solid #000;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 750;
    line-height: 0.90625rem;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    transition-duration: 0.15s;
    transition-property: color;
    vertical-align: middle;
    min-width: 115px;
    height: 2.625rem;
    white-space: nowrap;
    padding: 10px;
    border-radius: 6.25rem;
    border-width: 0.0625rem;
    text-decoration: none;
    overflow: hidden;
    outline: 0 !important;
    outline-color: transparent;
  }

  .left-pad {
    padding-left: 2rem;
  }
</style>

<header class='main-content__header'>
  <h1 class='main-content__page-title' id='reminders-top-thing'>Reports</h1>
</header>


<section class="main-content__body main-content__body--flush">
  <div class='left-pad'>
    <%= link_to("All users CSV", '/reports/users.csv', class: 'report-link') %>
    <%= link_to("All Transfers CSV", '/reports/all_transfers.csv', class: 'report-link') %>
    <%= link_to("Past Seven Days CSV", '/reports/transfers_past_seven.csv', class: 'report-link') %>
    <%= link_to("All Active users CSV", active_owners_path(format: :csv), class: 'report-link') %>
    <%= link_to("VZ Active users CSV", vz_active_owners_path(format: :csv), class: 'report-link') %>

    <div id='select-days-since-container'>

      <span class='report-link'>
        Select Transfers Since
      </span>
      <form action='/reports/transfer_since' method='GET'>
      <select id='select-days-since' class="select-css">
        <option value='0'></option>
        <option value='7'>7</option>
        <option value='14'>14</option>
        <option value='30'>30</option>
        <option value='45'>45</option>
        <option value='60'>60</option>
        <option value='90'>90</option>
      </select>

      <a href='/reports/days_since.csv?days_since=7' id='get-report-since' class='vz-button hidden'>
        Get Report
      </a>

      <a href='/admin/reports/send_daily_update'>
        send report
      </div>

    </div>
  </div>
</section>


<script>
  var reportBtn = document.getElementById('get-report-since')

  var selectEl = document.getElementById('select-days-since')

  selectEl.addEventListener('change', function onChangeEvent (e) {
      var elem = (typeof this.selectedIndex === "undefined" ? window.event.srcElement : this);
      var value = elem.value || elem.options[elem.selectedIndex].value;
      if (value === '0') {
        reportBtn.classList.add('hidden')
      } else {
        reportBtn.href = '/reports/days_since.csv?days_since=' + value
        reportBtn.classList.remove('hidden')
      }
  })
  
</script>