<!DOCTYPE html>
<html>
  <head>
    <title>Super Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”robots” content=”noindex, follow”>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_link_tag %>
  </head>

  <body>

    <% if !current_super_user %>
    <div id="login-feed-nav">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= image_tag 'logo-white.png' %>
        </div>
      </nav>
    </div>
    <% end %>

    <main class='container'>

    <% if flash[:alert] %>
      <div id='danger-notice' class="notification is-danger mb-4">
        <button id='danger-close' class="delete"></button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
    </main>
  </body>
</html>

<%# <script>

  var closeDangerEl = document.getElementById('danger-close')
  if (closeDangerEl ) {
    var dangeNoticeEl = document.getElementById('danger-notice')
    closeDangerEl.addEventListener('click', function closeDangeNotice () {
      dangeNoticeEl.parentNode.removeChild(dangeNoticeEl)
    })
  }

</script> %>
